.bolder {
    font-weight: bold;
}

img{
    width:40%;
    height:100%;
}

.bigInfo {
    display: flex;
    flex-direction: row;
    border:2px solid #888888;
    justify-content: space-evenly;
}

.btn {
    background-color: #00ada5; 
    border: none;
    color: #ffffff;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
  }
  
.btn:hover {
      background-color: #013d39; 
      color: #ffffff;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


