
.profilePage{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    padding: 10px;
    margin: 20px;
    border: solid 3px #00ada5; 
}
/* background-image: url("https://i.pinimg.com/originals/62/c0/99/62c099cd0f0e910174646af0a3060e26.jpg"); */

.topInfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}

.mainDetails{
    max-width: 60%;
    padding: 30px;
    vertical-align: middle;
    background-color: #00ada5;

}

.profileImg{
    display: flex;
    border-radius: 5px;
    width: 40%;
    height: fit-content;
    justify-content: left;
    vertical-align: middle;

}

.smallerDetails{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    flex-basis: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2em;
    border-radius: 4px;
    background-color: #013d39;
    color: #ffffff;
}

.btnSection{
 display: flex;
 justify-content: center;
}

.locationList{
    margin-top: none;
}