.eventCourse {
    border: 2px solid #00ada5;
    margin: 1em;
    padding: 1em;
}
.title{
    color: #013d39;
    text-align: center;

}

button {
  background-color: #00ada5; 
  border: none;
  color: #ffffff;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px;
}

button:hover {
    background-color: #013d39; 
    color: #ffffff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.buttons{
    display:flex;
    display: row;
}

.form-control:focus{
  border-color: #00ada5;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #00ada5;
}

.form-select:focus{
  border-color: #00ada5;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #00ada5;
}

.align-right{
  text-align: right;
  margin-right: 20px;
  margin-bottom:20px;
}

.evtLinkStyle {
  color:#00ada5;
  text-decoration: none;
}
.evtLinkStyle:hover{
  color:#888888;
  text-decoration: none;
}


.eventCards{
  display:grid;
  grid-auto-flow: row;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(25em, 25em));
  justify-items: center;
  justify-content: space-evenly; 
} 


.eventCards > * { flex: 1; }
.eventCards > * { flex-basis: 33%; }