
.bolder {
    font-weight: bold;
}



/* input {
    border: solid 1px #888888;
    width: 40%;
    margin-left: 3em;
    padding: 1em;
    border-radius: 4px;
    outline: #00ada5;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
} */

/* .card-deck{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    border: solid 1px red;
    margin: 10px;
    max-width: 500px;
    justify-content: start;
} */


.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    justify-content:center;
    max-width: 500px;
    padding: 10px;
    margin: 20px;
    border: solid 3px #00ada5;

}

.card-img-top{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    border-radius: 5px 5px 0 0;
    width: 35%;
    height: fit-content;
    align-items: center;
}


.card-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:fit-content;
    flex-basis: auto;
    margin-left: 3em;
    padding: 1em;
    border-radius: 4px;
    background-color: #013d39;
    color: #ffffff;
}
.linkMyWay {
    color:#00ada5;
    text-decoration: none;
}
.linkMyWay:hover{
    color:#ffffff;
    text-decoration: none;
}
.searchLable{
    color: #013d39;
    margin-right: 5px;
    font-weight: bold;
}
.searchBar{
    background-color: #00ada5;
    padding:10px;
}
.headerLine{
    text-align:center;
}



