
.bolder {
    font-weight: bold;
}

.cardYAAAS{
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
    margin-top:10px;
    /* grid-template-columns: repeat(3,auto);
    justify-content:start; */
    gap: 1em;
    width:45%;
    padding: 10px;
    border: solid 3px #00ada5;

}


.gridQween{
 display:flex;
 flex-direction: row;
}

.card-img-top{

    display: grid;
    border-radius: 5px 5px 0 0;
    width: 35%;
    height: fit-content;
    align-items: center;
}


.card-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:fit-content;
    flex-basis: auto;
    margin-left:5px;
    padding: 1em;
    width:65%;
    border-radius: 4px;
    background-color: #013d39;
    color: #ffffff;
}

.card-text{
    display:flex;
    flex-wrap: wrap;
}
.linkMyWay {
    color:#00ada5;
    text-decoration: none;
}
.linkMyWay:hover{
    color:#ffffff;
    text-decoration: none;
}
.searchLable{
    color: #013d39;
    margin-right: 5px;
    font-weight: bold;
}
.searchBar{
    background-color: #00ada5;
    padding:10px;
    margin-bottom:15px;

}
.headerLine{
    text-align:center;
    margin: 25px;
}

.locationList{
    margin: none;
}

.searchInput{
    border: none;
    width:50%;
    border-radius: 5px;
    padding: 5px;
}

.searchInput:focus{
    outline:#00ada5;
}



