.favCards{
    display:grid;
    width:33%;
}

.favCard{
    border: solid 4px #00ada5;
    width:100%;
    padding:10px;
    margin:20px;
    display:flex;
    flex-direction: row;
}

.favCardImg{
    display: flex;
    width:40%;
    border-radius: 5px;
    height: fit-content;
    vertical-align: middle;
}

.favCardBody{
    display:flex;
    flex-direction: column;
    background-color: #013d39;
    color:#ffffff;
    width:55%;
    padding:10px;
    margin:20px;
    vertical-align: middle;

}

