.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #013d39;
    padding:15px;
    text-align:center;
    list-style: none;
}


.navbar__link {
    text-decoration: none;
    list-style: none;
    margin: 20px;
    list-style-type: none;
    color: #ffffff;
    font-weight: bolder;
    text-align:center;
}
.navbar__link:hover{
    color:#00ada5;
}

.navbar__item{
    text-align:center;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

