.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: #ffffff;
    padding:3px;
}


.navbar__item {
    text-decoration: none;
    flex-basis: 20%;
    list-style-type: none;
}

